*
{
    /* background: rgba(0, 0, 0, .1); */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition:  background .2s;
    -o-transition: background .2s;
    transition:  background .2s;
    outline: 0;
}

body
{
    background: rgba(44, 93, 104, .97);
    color: #fff;
}

.container
{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

h1
{
    text-align: center;
}

.task-list
{
    margin: 10px 0;
}

input,
.task-item,
.task-detail-mask,
textarea,
button
{
    border-radius: 3px;
    padding: 10px;
}

textarea,
button,
input[type=text],
input[type=date]
{
    border: 0;
}


textarea,
input[type=text],
input[type=date]
{
    display:block;
    background: #ddd;
    width:100%;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

textarea
{
    height: 100px;
}

textarea:hover,
textarea:focus,
input[type=text]:hover,
input[type=date]:hover,
input[type=text]:focus,
input[type=date]:focus
{
    background: #eee;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

button
{
    cursor: pointer;
    display: inline-block;
    background: #dc9090;
    color: #333;
}

.add-task input[type=text]
{
    float:left;
    width:90%;
    margin-right: 1%;
}

.add-task [type=submit],
.task-item {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.add-task [type=submit]:hover
{
    background:  rgba(255, 255, 255, .2);
}

.add-task input[type=submit]
{
    width:15%;
}

.task-item
{
    padding: 10px;
    background: #fff;
    color: #333;
    margin-bottom: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.task-item:hover {
    background: #dddddd;
}

.task-detail-mask,
.task-detail
{
    position: absolute;
    display: none;
}

.task-detail
{
    background: #fff;
    color: #333;
    width: 50%;
    height: 100%;
    padding: 10px;
    bottom: 0;
    right: 0;
}

.task-detail .content
{
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}

.task-detail > *
{
    margin-bottom:10px;
}

.task-detail-mask
{
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(30,30,30,.6);
}
